@charset "ISO-8859-1";
nav {
	background-color: #0f0;
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: black;

}

nav a {
	color: black;
	text-decoration: none;
	padding: 8px 16px;
	
}

#account-link {
	color: white;
}



nav a:hover {
	background-color: seagreen;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.item2 {
grid-column-start: 2;
  grid-column-end: 3;		
  grid-row-start: 1;
  grid-row-end: 3;
}








/*
.subcontainer {
	
	background-color: #333;
	color:#0f0;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin-right: 20px;
	
	
}

.banking {
	
  	margin-left:40%;
}




body {
	font-family: Arial, sans-serif;
	background-color: #333;
	color: white;
	margin: 0;
	padding: 0;
}



.header h1 {
	margin: 0;
}

.container {
	position: relative;
	max-width: 70%;
	margin: 20px auto;
	padding: 20px;
	background-color: #0f0;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.transfer-container{
	color: black;
}
*/