@charset "ISO-8859-1";
nav {
	background-color: #1f6f78;
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: rgb(255, 255, 255);
	border: 3px solid;
	border-color: #3baea0;

}

nav a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	padding: 8px 16px;
	
}

#account-link {
	color: white;
}



nav a:hover {
	background-color: #93e4c1;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 6px;
  padding: 6px;
  color: rgb(255, 255, 255);
  background-color: #1f6f78;
  }

.grid-container > div {
  background-color: #118a7e;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.item2 {
grid-column-start: 2;
  grid-column-end: 3;		
  grid-row-start: 1;
  grid-row-end: 3;
}

.user-profile {
	background-color: #93e4c1;
}


.profile-main-box {
  border: 3px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: #118a7e;
  color:  rgb(255, 255, 255); 
  border-color: #3baea0;
  
}

.edit-box {
  border: 3px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: #118a7e;
  color: #3baea0;
}

.edit-form
{
	background-color: #1f6f78;
}

.form-box {
  border: 3px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: #118a7e;
  color: #93e4c1;
  
}

