<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Password Reset page</title>

	
</head>
<br>

	<h1>Password Reset</h1>

	<!--<form id="login-form" th:action="@{/login}" method="post">-->
		<!--<form id="login-form" th:action="@{/newUser}" th:object="${accountData}" method="post">-->
	<div>
	<form th:action="@{passwordRequest}" th:object="${passwordData}"  method="post">
		
		
		
		
		<select th:field="*{userName}">
			<option th:each="option : ${userList}" th:value="${option}" th:text="${option}" ></option>
			
		</select>
		
	
		<p><input th:field="*{password1}"  type="password"  required><i> New Password</i></p>
        
       
		<p><input th:field="*{password2}"  type="password"  required><i> Reenter New Password</i></p>
		<p><input type="submit" value="Submit"></p>
		
	</form>
	</div>
		
		</br>
		<div>
			<ul>
				<li th:each="error : ${errors}" th:text="${error}" ></li>
			</ul>
		</div>
		<!--th:each="error : ${errors}" th:text="${error}"-->
		


</body>
</html>