<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>User Dashboard</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/user_display.css}" />
</head>

<body>
	<nav>
		<div>
			<a th:href="@{/user-page}">Accounts</a> 

			<a th:href="@{/profile}" >Profile & Account Settings</a> 
			<a href="#advising">Financial Advising</a>
			<a th:if="${credit != null and not #lists.isEmpty(credit)}" th:href="@{'/invest-page?credit_id='+ ${credit[0].id}}">Investment</a>
		</div>
		<div class="dropdown-container ml-auto">
			<h2>Hi, [[${user.getUsername()}]]</h2>
			<div class="dropdown-content">
				<a th:href="@{/logout}" class="dropdown-item">Logout</a>
			</div>
		</div>
	</nav>
	
	<div class = "grid-container">
<div class="item1">
	<div class="banking">
			<h2>Banking Accounts</h2>


			<ul class="list">
				<li class="list-item" th:each="account : ${banking}">
				
				
				<a id="account-link" th:href="@{'/user-page/banking/transactions?account_id=' + ${account.id}}" class="btn btn-success" th:text="${account.name}"></a>
				<span class="total" th:text="'$' + ${account.balance}"></span>
				
				
				</li>
					
					
				<li class="list-item"><span>Total</span> <span class="total"
					th:text="${totalBalance}"></span></li>
			</ul>



			<a id="account-link" th:href="@{/user-page/banking/add}" class="btn btn-success">
				<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus"
					fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
						d="M8 0a.5.5 0 0 1 .5.5V7h6.5a.5.5 0 0 1 0 1H8V15.5a.5.5 0 0 1-1 0V8H0a.5.5 0 0 1 0-1H7V.5a.5.5 0 0 1 .5-.5z" />
                </svg> Open a Banking Account
			</a>
			</div>
</div>
 
 
  <div class="item2">
  <h2>Transfer Money</h2>
			<form>
				<div class="form-group">
					<label for="fromAccount">From Account</label> <select
						class="form-control" id="fromAccount">
						<option value="checking">Checking Account</option>
						<option value="savings">Savings Account</option>
						<option value="creditCard">Credit Card</option>
					</select>
				</div>
				<div class="form-group">
					<label for="toAccount">To Account</label> <select
						class="form-control" id="toAccount">
						<option value="checking">Checking Account</option>
						<option value="savings">Savings Account</option>
						<option value="creditCard">Credit Card</option>
					</select>
				</div>
				<div class="form-group">
					<label for="amount">Amount</label> <input type="text"
						class="form-control" id="amount" placeholder="Enter the amount">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
  </div>
  <div class="item3">
  <div class="banking">
			<h2>Credit Cards</h2>
			
			<ul class="list">
				<li class="list-item" th:each="account : ${credit}">


				<a id="account-link" th:href="@{'/user-page/credit/transactions?account_id=' + ${account.id}}" class="btn btn-success"     


					th:text="${account.name}"></a> <span class="total"
					th:text="'$' + ${account.balance}"></span></li>
					
				<li class="list-item"><span>Total</span> <span class="total"
					th:text="${totalCreditBalance}"></span></li>
			</ul>
			
			<a id="account-link" th:href="@{/user-page/credit/add}" class="btn btn-success"> <svg
					width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus"
					fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
						d="M8 0a.5.5 0 0 1 .5.5V7h6.5a.5.5 0 0 1 0 1H8V15.5a.5.5 0 0 1-1 0V8H0a.5.5 0 0 1 0-1H7V.5a.5.5 0 0 1 .5-.5z" />
                </svg> Open a Credit Card
			</a>
			</div>
  </div>  
  
  
  <div class="item6">
  <div class="banking">
			<h2>Loans</h2>
			
			<ul class="list">
				<li class="list-item" th:each="account : ${loan}">
				<a id="account-link" th:href="'#account-' + ${account.id}" class="btn btn-success"     
					th:text="${account.type}"></a> <span class="total"
					th:text="'$' + ${account.totalToBePaid}"></span></li>
				<li class="list-item"><span>Total</span> <span class="total"
					th:text="${totalLoanBalance}"></span></li>
			</ul>
			
			
			<a id="account-link" th:href="@{/user-page/loan/add}" class="btn btn-success"> <svg width="1em"
					height="1em" viewBox="0 0 16 16" class="bi bi-plus"
					fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
						d="M8 0a.5.5 0 0 1 .5.5V7h6.5a.5.5 0 0 1 0 1H8V15.5a.5.5 0 0 1-1 0V8H0a.5.5 0 0 1 0-1H7V.5a.5.5 0 0 1 .5-.5z" />
                </svg> Open a Loan
			</a>
		</div>
  </div>
 
  <div class="item8">8</div>  
</div>
	
	
	
	
	

	
</body>	